/*
 * Fontsize
 * The fontsize function gives us a less verbose way of grabbing our font-size variables form our $font-sizes sass-map.
 */

@function font-size($size) {
    @if (map-has-key($font-sizes, $size)) {
        @return rem-calc(map-get($font-sizes, $size));
    } @else {
        @warn 'Requested font size not found';
        @return rem-calc($document-font-size);
    }
}
