/*
 * Avatar
 *
 * Ready-to-roll confiigurable shapes for user/profile images.
 */

@import 'avatar-config';

%avatar,
.avatar {
    display: inline-block;
    width: map-get($avatar-sizes, 'default');
    height: map-get($avatar-sizes, 'default');
    max-width: 100%;
    border-radius: $avatar-border-radius;
}

/* Sizes */

@each $key, $size in $avatar-sizes {
    %avatar--#{$key},
    .avatar--#{$key} {
        width: $size;
        height: $size;
    }
}
