/*
 * File
 * Styles for File upload inputs.
 *
 * !! This module @extends %_a_simple-transition from FoundryCSS/ui/utilities/animation.scss !!
 * !! This module @extends %visibility--hidden from FoundryCSS/ui/utilities/visibility.scss !!
 *
 */

@import './file-config';

.form-file {
    //
}

.form-file__input {
    @extend %visibility--hidden;

    &:focus + .form-file__dropzone {
        box-shadow: 0 0 15px 0 rgba(color('alpha'), 0.25), inset 0 0 0 rgba(00, 00, 00, 0);

        &:hover {
            box-shadow: 0 0 15px 0 rgba(color('alpha'), 0.25), $form-file-dropzone-hover-shadow;
        }
    }

    &:before {
        content: '';
        display: block;
        background: $form-file-dropzone-background;
        border: $form-file-dropzone-border;
        border-radius: $form-file-dropzone-border-radius;
        padding: $form-file-dropzone-padding;
        text-align: center;
    }
}

.form-file__dropzone {
    @extend %_a_simple-transition;
    display: block;
    cursor: pointer;
    color: $form-file-dropzone-color;
    background: $form-file-dropzone-background;
    border: $form-file-dropzone-border;
    border-radius: $form-file-dropzone-border-radius;
    padding: $form-file-dropzone-padding;
    box-shadow: inset 0 0 0 rgba(00, 00, 00, 0);
    text-align: center;

    &:hover {
        box-shadow: $form-file-dropzone-hover-shadow;
    }
}
