/*
 * Form
 * Small classes concerned with establishing rhythm and positioning contexts within a form.
 *
 * !! This module @extends %flex from FoundryCSS/ui/utilities/flex.scss !!
 * !! This module @extends %flex--space-between from FoundryCSS/ui/utilities/flex.scss !!
 *
 */

.form {
    //
}

.form__input {
    position: relative;
}

/*
* Form block
* Form blocks are for visually grouping smaller form inputs such as sets of radio buttons.
*/

.field__group {
    border-radius: $corner-radius;
    background-color: color('white');
}

.block__item {
    @extend %flex !optional;
    @extend %flex--space-between !optional;

    padding: rhythm(0.5);

    & + & {
        border-top: 1px solid color('light');
    }
}

/*
	* Form input
	* The .form__input class wraps inputs in a postioning context, while the __addon child
	* handles vertical spacing of input addons i.e. validation message wrappers, password strength
	* meters.
	*/

.form__input__addon {
    margin-top: rhythm(0.5);
}
