language: node_js

install: npm install

before_deploy:
    - npm run build

jobs:
    include:
        # Define the release stage that runs semantic-release
        - stage: release
          node_js: lts/*
          # Advanced: optionally overwrite your default `script` step to skip the tests
          # script: skip
          deploy:
              provider: script
              skip_cleanup: true
              script:
                  - npx semantic-release
# require the branch name to be master (note for PRs this is the base branch name) - cant do this yet.
# notifications:
#     slack:
#         if: branch = master
#         rooms: "$SLACK_KEY_TOKEN"
