/*
 * Overlay
 * Overlays sit over the top of the main flow of content, locking off
 * interactions with the main flow until the focused content on the top
 * of the Overlay is addressed.
 */

@import "overlay-config";

%overlay,
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: layer("overlay");
    width: 100%;
    height: 100%;
}

%overlay__background,
.overlay__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        map-get($overlay-background-colors, "default"),
        0.25
    );

    & + * {
        position: relative;
    }
}

%overlay__close,
.overlay__close {
    position: absolute;
    top: rhythm();
    right: rhythm();
    cursor: pointer;
}

/*
 * Content Alignment
 */

%overlay--align-top,
.overlay--align-top {
    align-items: flex-start;
}

%overlay--align-center,
.overlay--align-center {
    align-items: center;
}

%overlay--align-bottom,
.overlay--align-bottom {
    align-items: flex-end;
}

%overlay--justify-left,
.overlay--justify-left {
    justify-content: flex-start;
}

%overlay--justify-center,
.overlay--justify-center {
    justify-content: center;
}

%overlay--justify-right,
.overlay--justify-right {
    justify-content: flex-end;
}

/* Background Colors */

@each $key, $background in $overlay-background-colors {
    %overlay__background--#{$key},
    .overlay__background--#{$key} {
        background-color: rgba($background, 0.25);
    }
}
