/*
 * Tooltip Config
 *
 * 1. Colors
 * 2. Font Size
 * 3. Border Radius
 * 4. Sizes
 * 5. Margin (distance from parent)
 * 6. Tail Size
 *
 */

$tooltip-colors: $colors !default;

$tooltip-font-size: font-size('300') !default;

$tooltip-border-radius: 1.2rem !default;

$tooltip-padding: spacing() spacing(2) !default;

$tooltip-margin: rhythm(0.125) !default;

$tooltip-tail-width: 10px !default;
$tooltip-tail-length: 6px !default;
