/*
 * Tooltip:
 *
 * Tooltips are for displaying small pieces of contextual information, usually when hovering
 * the parent element.
 *
 */

@import "tooltip-config";

%tooltip,
.tooltip {
    position: absolute;
    margin: 0;
    padding: $tooltip-padding;
    background-color: map-get($tooltip-colors, "default");
    color: color("white");
    border-radius: $tooltip-border-radius;
    pointer-events: none;
    font-size: $tooltip-font-size;
    white-space: nowrap;
    line-height: 1;
    z-index: 2;

    &:before {
        content: "";
        position: absolute;
    }
}

/* Directions */

%tooltip--up,
%tooltip--down,
.tooltip--up,
.tooltip--down {
    left: 50%;
    transform: translateX(-50%);

    &:before {
        left: 50%;
        transform: translateX(-50%);
    }
}

%tooltip--left,
%tooltip--right,
.tooltip--left,
.tooltip--right {
    top: 50%;
    transform: translateY(-50%);

    &:before {
        top: 50%;
        transform: translateY(-50%);
    }
}

%tooltip--up,
.tooltip--up {
    bottom: calc(100% + #{$tooltip-margin});

    &:before {
        @include triangle(
            "down",
            $tooltip-tail-width,
            $tooltip-tail-length,
            color("default")
        );
        top: 100%;
    }
}

%tooltip--right,
.tooltip--right {
    left: calc(100% + #{$tooltip-margin});

    &:before {
        @include triangle(
            "left",
            $tooltip-tail-length,
            $tooltip-tail-width,
            color("default")
        );
        right: calc(100% - 1px);
    }
}

%tooltip--down,
.tooltip--down {
    top: calc(100% + #{$tooltip-margin});

    &:before {
        @include triangle(
            "up",
            $tooltip-tail-width,
            $tooltip-tail-length,
            color("default")
        );
        bottom: 100%;
    }
}

%tooltip--left,
.tooltip--left {
    right: calc(100% + #{$tooltip-margin});

    &:before {
        @include triangle(
            "right",
            $tooltip-tail-length,
            $tooltip-tail-width,
            color("default")
        );
        left: calc(100% - 1px);
    }
}

/* Parent Helper Class */

%_has-tooltip,
._has-tooltip {
    position: relative;

    .tooltip {
        opacity: 0;
    }

    &:hover {
        .tooltip {
            opacity: 1;
        }
    }
}
