/*
 * Drilldown
 * Drilldowns are a way of navigating horizontally through multiple panes of content i.e. a navigation with
 * nested sub-sections.
 */

@import '_drilldown-config';

%drilldown,
.drilldown {
    position: relative;
    overflow: hidden;
}

%drilldown__pane,
.drilldown__pane {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: color('white');
    box-shadow: 0 30px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.125);
}

@import '_drilldown-transitions';
