/*
 * Selects
 *
 *
 */

.form-select {
    width: 100%;
}

.form-select__wrapper {
    position: relative;
    width: 100%;
}

.form-select__select {
    appearance: none;
    -webkit-appearance: none;

    background: color(canvas);
    border: 1px solid color(base);
    border-radius: 0;
    padding: rhythm(0.175);
    width: 100%;
}

.form-select--minimal .form-select__select {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

.form-select__icon {
    height: rhythm(0.5);
    position: absolute;
    right: rhythm(0.25);
    top: 50%;
    transform: translateY(-50%);
    width: rhythm(0.5);
}
