/*
 * Flyout
 * Use a flyout when you need to bring in some supplementary content which, by default, lives 'off canvas'.
 * Common use cases are for slide-in menus or notification panels.
 */

@import "_flyout-config";

%flyout,
.flyout {
    position: fixed;
    top: 0;
    right: 0;
    z-index: layer("navigation");
    height: 100%;
    background-color: $flyout-background-color;
    padding: $flyout-padding;
    width: $flyout-width;
    max-width: $flyout-max-width;
    border: none;
}

%flyout__close,
.flyout__close {
    position: absolute;
    top: $flyout-padding;
    right: $flyout-padding;
    cursor: pointer;
}

%flyout--left,
.flyout--left {
    left: 0;
    right: auto;
    border-right-color: color("default");
    border-left-color: transparent;
}

@import "_flyout-transitions";
