/*
 * Card:
 * A card is a container, usually used in a list or collection of objects, used to
 * visually group and emphasise a group of elements. Can contain an image, stacked
 * horizontally or vertically.
 */

@import 'card-config';

%card,
.card {
    background-color: $card-background-color;
    border-radius: $card-border-radius;
    padding: rhythm(map-get($card-sizes, 'normal'));
    box-shadow: $card-shadow;
}

%card--basic,
.card--basic {
    padding: 0;
}

%card__inner,
.card__inner {
    padding: rhythm(map-get($card-sizes, 'normal'));
}

/* Sizes */

@each $key, $size in $card-sizes {
    %card--#{$key},
    .card--#{$key} {
        padding: rhythm($size);
    }

    %card__inner--#{$key},
    .card__inner--#{$key} {
        padding: $size;
    }
}
