/*
 * Text Inputs:
 * Wrapper for Text inputs including text area
 *
 *
 *       <div class="form-text form-text--has-right-icon">
 *           <label class="form-label" for="from-name">Your Name</label>
 *           <div class="form-text__wrapper form-text--has-right-icon">
 *               <input class="form-input" id="from-name" type="text" name="fromName" value="">
 *               <label class="form-text__icon">
 *                   V
 *               </label>
 *           </div>
 *       </div>
 */

.form-text {
    width: 100%;
}

.form-text__wrapper {
    position: relative;
    width: 100%;
}

.form-text__wrapper--has-right-icon {
    > input {
        padding-right: rhythm();
    }
}

.form-text__wrapper--has-left-icon {
    > input {
        padding-left: rhythm();
    }
}

.form-text__icon {
    height: rhythm(0.5);
    position: absolute;
    right: rhythm(0.25);
    top: 50%;
    transform: translateY(-50%);
    width: rhythm(0.5);
}

.form-text__icon--left {
    left: rhythm(0.25);
    right: 0;
}
