/*
 * Text Transform
 *
 * Helpers to set text-transform properties
 */

%text-transform--capitalize,
.text-transform--capitalize {
    text-transform: capitalize;
}

%text-transform--lowercase,
.text-transform--lowercase {
    text-transform: lowercase;
}

%text-transform--uppercase,
.text-transform--uppercase {
    text-transform: uppercase;
}

%text-transform--none,
.text-transform--none {
    text-transform: none;
}
