/*
 * Button Config
 *
 * 1. Colors
 * 2. Border Radius
 * 3. Sizes
 *
 */

$button-colors: $colors !default;

$button-border-radius: 0.25rem !default;

$button-sizes: (
    'small': spacing(0.75) spacing(1.5),
    'default': spacing() spacing(2),
    'large': spacing(1.25) spacing(3)
) !default;
