/*
 * Button:
 * A button is an inline-block element used to highlight actions in a UI. By default, a button will have a background-color
 * equal to the document color 'default', which will probably be dark, with white text.
 *
 */

@import '_button-config';

%button,
.button {
    display: inline-block;
    padding: map-get($button-sizes, 'default');
    border-radius: $button-border-radius;
    text-decoration: none;
    letter-spacing: $button-label-leading;
    font-weight: $button-label-weight;
    cursor: pointer;
    text-align: center;
    border: 2px solid color('default');
    background-color: color('default');
    color: color('white');

    &.button--bordered {
        color: color('default');
    }

    %_is-busy {
        cursor: progress;
        color: transparent;

        .button__icon--busy {
            top: 50%;
        }
    }

    %_is-disabled {
        cursor: not-allowed;
        filter: grayscale(100%);
    }
}

/* Colors */

@each $key, $background in $button-colors {
    %button--#{$key},
    .button--#{$key} {
        background-color: $background;
        border-color: $background;

        @if (lightness($background) > 50%) {
            color: color('default');
        }

        &.button--bordered {
            color: $background;
        }
    }
}

/* Sizes */

@each $key, $size in $button-sizes {
    %button--#{$key},
    .button--#{$key} {
        padding: $size;
    }
}

%button--fullwidth,
.button--fullwidth {
    display: block;
    width: 100%;
}

%button--bordered,
.button--bordered {
    background-color: transparent;
}
