/*
 * Button Config
 *
 * 1. Colors
 * 2. Border Radius
 * 3. Sizes
 * 4. Label Weight
 * 5. Label Leading
 *
 */

$button-colors: $colors !default;

$button-border-radius: 0.25rem !default;

$button-sizes: (
    'small': rhythm(0.33) rhythm(0.66),
    'default': rhythm(0.66) rhythm(1.33),
    'large': rhythm() rhythm(3)
) !default;

$button-label-weight: 700 !default;
$button-label-leading: 0.05em !default;
