/*
 * Pull
 *
 * Useful for displacing an item in a certain direction by a certain spacing unit
 */

@import "pull-config";

%pull--top,
.pull--top {
    margin-top: -#{rhythm(map-get($pull-sizes, "default"))};
}

%pull--bottom,
.pull--bottom {
    margin-bottom: -#{rhythm(map-get($pull-sizes, "default"))};
}

%pull--left,
.pull--left {
    margin-left: -#{rhythm(map-get($pull-sizes, "default"))};
}

%pull--right,
.pull--right {
    margin-right: -#{rhythm(map-get($pull-sizes, "default"))};
}

/* Sizes */

@each $key, $size in $pull-sizes {
    %pull--top--#{$key},
    .pull--top--#{$key} {
        margin-top: -#{rhythm($size)};
    }

    %pull--bottom--#{$key},
    .pull--bottom--#{$key} {
        margin-bottom: -#{rhythm($size)};
    }

    %pull--left--#{$key},
    .pull--left--#{$key} {
        margin-left: -#{rhythm($size)};
    }

    %pull--right--#{$key},
    .pull--right--#{$key} {
        margin-right: -#{rhythm($size)};
    }
}
