/*
 * Card:
 * A card is a container, usually used in a list or collection of objects, used to
 * visually group and emphasise a group of elements. Can contain an image, stacked
 * horizontally or vertically.
 */

@import "card-config";

%card,
.card {
    position: relative;
    background-color: $card-background-color;
    border-radius: $card-border-radius;
    padding: map-get($card-sizes, "default");
    box-shadow: $card-shadow;
}

%card__hitbox,
.card__hitbox {
    z-index: 2;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

%card--basic,
.card--basic {
    padding: 0;
}

%card__padding,
.card__padding {
    padding: map-get($card-sizes, "default");
}

/* Sizes */

@each $key, $size in $card-sizes {
    %card--#{$key},
    .card--#{$key} {
        padding: $size;
    }

    %card__padding--#{$key},
    .card__padding--#{$key} {
        padding: $size;
    }
}
