/*
 * Hero:
 *
 * Large page headers containing a background color or background image.
 *
 */

@import "hero-config";

%hero,
.hero {
    position: relative;
    padding: map-get($hero-sizes, "default");
    background-repeat: no-repeat;
    background-position: $hero-background-position;
    background-size: $hero-background-size;
}

/* Colors */

@each $key, $background in $hero-colors {
    %hero--#{$key},
    .hero--#{$key} {
        background-color: $background;
    }
}

/* Sizes */

@each $key, $size in $hero-sizes {
    %hero--#{$key},
    .hero--#{$key} {
        padding: $size;
    }
}

%hero--fullheight,
.hero--fullheight {
    min-height: 100vh;
}
