/*
 * Hero Config
 *
 * 1. Background
 * 2. Colors
 * 3. Sizes
 *
 */

$hero-background-position: center center !default;
$hero-background-size: cover !default;

$hero-colors: $colors !default;

$hero-sizes: (
    "small": rhythm(2) 0,
    "default": rhythm(3) 0,
    "default-offset": rhythm(4.5) 0 rhythm(1.5)
) !default;
