/*
 * Typography Properties
 * Properties are small utility classes solely concerned with one aspect of typesetting at a time,
 * such as altering color or font-weight.
 */

@each $key, $color in $colors {
    .color--#{$key},
    %color--#{$key} {
        color: $color;
    }
}

@each $key, $size in $font-sizes {
    .font-size--#{$key},
    %font-size--#{$key} {
        font-size: $size;
    }
}

@each $key, $weight in $font-weights {
    .font-weight--#{$key},
    %font-weight--#{$key} {
        font-weight: $weight;
    }
}

.font-family--main,
%font-family--main {
    font-family: $font-main;
}

.font-family--alt,
%font-family--alt {
    font-family: $font-alt;
}

/* Modifiers */
._has-subhead {
    margin-bottom: 0;
}
