/*
 * Icon:
 * Utility classes to make working with SVG icons a little easier
 */

@import 'icon-config';

.icon,
%icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
}

/* Colors */

@each $key, $color in $icon-colors {
    .icon--#{$key},
    %icon--#{$key} {
        fill: $color;
    }
}

/* Colors */

@each $key, $size in $icon-sizes {
    .icon--#{$key},
    %icon--#{$key} {
        font-size: $size;
    }
}
