/*
 * Alignment:
 *
 * Utility classes for quickly aligning content.
 */

.align-text--left {
	text-align: left;
}

.align-text--center {
	text-align:center;
}

.align-text--right {
	text-align:right;
}