/*
 * Text Alignment:
 *
 * Utility classes for quickly aligning text content.
 */

.align-text--left {
	text-align: left;
}

.align-text--center {
	text-align:center;
}

.align-text--right {
	text-align:right;
}