/*
 * Wrappers:
 * Wrap an element in top and bottom padding.
 */

@import 'wrapper-config';

.wrapper,
%wrapper {
	padding-top: map-get($wrapper-sizes,'normal');
	padding-bottom: map-get($wrapper-sizes,'normal');
}

/* Sizes */

@each $key, $size in $wrapper-sizes {
	.wrapper--#{$key} {
		padding-top: $size;
		padding-bottom: $size;
	}
}

/* Modifiers */ 
 
.wrapper--top-only { padding-bottom: 0; }
.wrapper--bottom-only { padding-top: 0; }
 