/*
 * Checkboxes
 * Styles for Checkboxes.
 *
 * !! This module @extends %_a_simple-transition from FoundryCSS/ui/utilities/animation.scss !!
 * !! This module @extends %visibility--hidden from FoundryCSS/ui/utilities/visibility.scss !!
 *
 */

@import './checkbox-config';

.form-checkbox {
    //
}

.form-checkbox__input {
    @extend %visibility--hidden !optional;

    &:focus + .form-checkbox__pseudo {
        box-shadow: 0 0 12px 0 rgba(color('gamma'), 0.9);
    }

    &:checked + .form-checkbox__pseudo {
        border-color: color('alpha');

        &:before {
            background: color('alpha');
        }
    }

    &:disabled + .form-checkbox__pseudo {
        cursor: not-allowed;
    }
}

.form-checkbox__pseudo {
    @extend %_a_simple-transition !optional;

    display: block;
    position: relative;
    height: rhythm(2);
    width: rhythm(2);
    border: 1px solid color('mid');
    cursor: pointer;

    &:before {
        background: transparent;
        content: '';
        left: 50%;
        height: rhythm(0.5);
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: rhythm(0.5);
    }
}
