/*
 * File
 * A generic style which can be extended into named input styles ex. .form-text
 *
 */

%form-generic {
    display: block;
    width: 100%;
    appearance: none;

    -webkit-appearance: none;

    &:disabled {
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 15px 0 rgba(color('alpha'), 0.25);
    }
}
