/*
 * Background:
 * Utility styles for background cover images, fixed backgrounds, etc.
 */

.background--cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.background--fixed {
	background-attachment:fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}