/*
 * Field:
 *
 * Provides positioning context to a field, for positioning supplementary elements
 * such as icons.
 *
 */

.form-field {
    position: relative;
}

.form-field__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form-field__icon--right {
    right: spacing(2);
}

.form-field__icon--left {
    left: spacing(2);
}
