/*
 * Field:
 *
 * Provides positioning context to a field, for positioning supplementary elements
 * such as icons.
 *
 */

.form-field {
    position: relative;
}

.form-field__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
