/*
 * Tag Config
 *
 * 1. Colors
 * 2. Border Radius
 * 3. Sizes
 * 4. Label Weight
 * 5. Label Leading
 *
 */

$tag-colors:$colors !default;

$tag-border-radius:1.2rem !default;
$tag-padding:0.25rem 1rem !default;

