/*
 * Tooltip:
 *
 * Tooltips are for displaying small pieces of contextual information, usually when hovering
 * the parent element.
 */

@import 'tooltip-config';

.tooltip {
	position: absolute;
	margin:0;
	padding: $rhythm-small;
	background-color: color('base');
	color: color(white);
	pointer-events: none;
	white-space: nowrap;
	font-size: font-size('standard');
	font-stretch: normal;
	line-height: 1;
	z-index:map-get($layers,tooltips);

  &:before {
    content: '';
    position: absolute;
  }
}

/* Directions */

.tooltip--up {
  bottom: calc(100% + 0.25rem);
  left: 50%;
  transform: translateX(-50%);

  &:before {
    @include triangle('down', 8px, 5px, color('base'));

    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tooltip--right {
  left: calc(100% + 0.75rem);
  top: 50%;
  transform: translateY(-50%);

  &:before {
    @include triangle('left', 5px, 8px, color('base'));

    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.tooltip--down {
  top: calc(100% + 0.25rem);
  left: 50%;
  transform: translateX(-50%);

  &:before {
    @include triangle('up', 8px, 5px, color('base'));

    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tooltip--left {
  right: calc(100% + 0.75rem);
  top: 50%;
  transform: translateY(-50%);

  &:before {
    @include triangle('right', 5px, 8px, color('base'));

    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Parent Helper Class */

._has-tooltip {
  position: relative;

  .tooltip {
    opacity: 0;
  }

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}
