/*
 * Container:
 * Horizontally centers an element and constrains it to one of our $page-container widths 
 * from _theme.scss. This class only touches left and right margin and padding values to avoid
 * conflicts or inheritance issues with .wrapper or .flow classes.
 */

@import 'container-config';

%container,
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: $container-padding;
	padding-right: $container-padding;
	max-width: map-get($container-sizes,'normal');
}

/* Sizes */

@each $key, $size in $container-sizes {
	%container--#{$key},
	.container--#{$key} {
		max-width:$size;
	}
}
 
/* Modifiers */ 

%container--flush,
.container--flush{
	padding-left: 0;
	padding-right: 0;
}
