/*
 * Select Config
 *
 * 1. Borders
 * 2. Border Radius
 * 3. Padding
 * 4. Placeholder
 *
 */

$form-select-border: 1px solid color('mid') !default;
$form-select-border-focus: 1px solid color('alpha') !default;
$form-select-border-error: 1px solid color('error') !default;

$form-select-border-radius: 1px !default;

$form-select-padding: spacing(2) !default;

$form-select-placeholder-color: color('mid') !default;
