/*
 * Selects
 *
 */

@import "./select-config";

.form-select {
    &._has-error {
        .form-select__input {
            border: $form-select-border-error;
        }

        .form-error {
            display: block;
        }
    }
}

.form-select__input {
    @extend %form-generic;

    border: $form-select-border;
    border-radius: $form-select-border-radius;
    padding: $form-select-padding;

    &:focus {
        border: $form-select-border-focus;
    }

    &::placeholder {
        color: $form-select-placeholder-color;
    }
}
