/*
 * Card Config
 *
 * 1. Background Colors
 * 2. Padding
 * 3. Borders
 * 4. Shadow
 *
 */

$card-background-color:color('white');

$card-sizes:(
	//'small':1rem,
	'normal':1.5rem,
	//'large':2rem
);

$card-border-width:1px;
$card-border-color:color('light');
$card-border-radius:0.4rem;

$card-shadow:0 20px 30px 25px rgba(color('base'),0.125);
