/*
 * File
 * Styles for File upload inputs.
 *
 *  <input class="form-file" id="file" name="file" type="file" value="">
 */

.form-file {
    width: 100%;
    padding: rhythm(0.5);
    background-color: color(canvas);
    border: 1px dashed color(base);
    text-align: center;
}

.form-file__preview {
}
