%border-radius--none,
.border-radius--none {
    border-radius: 0;
}

%border-radius--corner,
.border-radius--corner {
    border-radius: $corner-radius;
}

%border-radius--round,
.border-radius--round {
    border-radius: 50%;
}
