/*
 * Horizontal Rule:
 * Premade style for the classic <hr> element. Simple!
 */

@import 'horizontal-rule-config';

%hr,
.hr {
    border: none;
    margin: map-get($horizontal-rule-rhythms, 'normal');
    height: map-get($horizontal-rule-weights, 'normal');
    width: map-get($horizontal-rule-widths, 'normal');
    background-color: map-get($horizontal-rule-colors, 'base');
}

/* Colors */

@each $key, $color in $horizontal-rule-colors {
    %hr--#{$key},
    .hr--#{$key} {
        background-color: $color;
    }
}

/* Rhythms */

@each $key, $rhythm in $horizontal-rule-rhythms {
    %hr--#{$key},
    .hr--#{$key} {
        margin: $rhythm;
    }
}

/* Weights */

@each $key, $weight in $horizontal-rule-weights {
    %hr--#{$key},
    .hr--#{$key} {
        height: $weight;
    }
}

/* Widths */

@each $key, $width in $horizontal-rule-widths {
    %hr--#{$key},
    .hr--#{$key} {
        width: $width;
    }
}

%hr--centered,
.hr--centered {
    margin-left: auto;
    margin-right: auto;
}
