/*
 * Input:
 * Generic 'themes' for most character-based input types;
 *
 *  <input class="form-input" id="from-name" type="text" name="fromName" value="">
 *
 *  <textarea class="form-input" cols="40" id="message" name="message" rows="10"></textarea>
 *
 */

.form-input {
    appearance: none;
    -webkit-appearance: none;

    border: 1px solid color(base);
    display: block;
    font-size: font-size('normal');
    padding: rhythm(0.25);
    width: 100%;

    &::-ms-reveal,
    &::-ms-clear {
        display: none;
    }

    &:focus {
        border-color: color('alpha');
        outline: none;
    }

    &::placeholder {
        color: color('mid');
    }

    &._has-icon-left {
        padding-left: rhythm();
    }

    &._has-icon-right {
        padding-right: rhythm();
    }
}

.form-input--blocky {
    background-color: color('canvas');
    border: 2px solid color('canvas');
}

.form-input--minimal {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid color('base');

    &:focus {
        border-color: color('alpha');
    }
}
