/*
 * Radios
 * Styles for Radio buttons.
 *
 * !! This module @extends %_a_simple-transition from FoundryCSS/ui/utilities/animation.scss !!
 * !! This module @extends %visibility--hidden from FoundryCSS/ui/utilities/visibility.scss !!
 *
 */

@import './radio-config';

.form-radio {
    //
}

.form-radio__input {
    @extend %visibility--hidden;

    &:focus + .form-radio__pseudo {
        box-shadow: 0 0 12px 0 rgba(color(gamma), 0.9);
    }

    &:checked + .form-radio__pseudo {
        border: $form-radio-border-checked;

        &:before {
            background: color(alpha);
        }
    }

    &:disabled + .form-radio__pseudo {
        cursor: not-allowed;
    }
}

.form-radio__pseudo {
    @extend %_a_simple-transition !optional;

    display: block;
    position: relative;
    height: $form-radio-size;
    width: $form-radio-size;
    border: $form-radio-border;
    cursor: pointer;
    border-radius: $form-radio-border-radius;

    &:before {
        background: transparent;
        content: '';
        left: 50%;
        height: rhythm(0.5);
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: rhythm(0.5);
        border-radius: 50%;
    }
}
