/*
 * Alert
 * Alert boxes are for drawing attention to important information. 
 */

 .alert {
	position: relative;
	display: block;
	background-color: color(white);
	border-top: 5px solid color('base');
	padding:$padding;
  
	@include bp('medium-up') {
	  padding: $padding-large $padding-large $padding-large $padding-large * 2.5;
	}
  }
  
  .alert__title {	  
	  margin: 0;
	  padding-left:2.25rem;
	  font-size: font-size(standard);
	  line-height: 1.5;
  
	  @include bp('medium-up') {
		  padding:0;
	  }
  }
  
	  .alert__content {
		  > * + * {
			  margin-top: $rhythm;
		  }
	  }
  
		  .alert__icon {
			  position: absolute;
			  top: $padding;
			  left: $padding;
			  font-size:1.5rem;
  
			  @include bp('medium-up') {
				  top:$padding-large;
				  left:$padding-large;
			  }
		  }
		  
		  .alert__close {
			  position: absolute;
			  top: 50%;
			  right: $padding;
			  fill: color('base');
			  margin-top: -8px;
			  cursor: pointer;
		  }
  
  /* Modifiers */
  
  .alert--error {
	border-color: color('error');
	fill: color('error');
  }
  
  .alert--warning {
	border-color: color('warning');
	fill: color('warning');
  }
  
  .alert--success {
	border-color: color('success');
	fill: color('success');
  }
  
  .alert--info {
	border-color: color('info');
	fill: color('info');
  }