/*
 * Hero:
 *
 * For displaying large, image-based headers at the top of a page.
 */

 // config;
// min / max height
// padding arrangement
// filter / filter colour

.hero {
	position: relative;
	padding: $rhythm-large; // probably need loads of padding on this

	&:before {
		content: '';
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(00,00,00,0.25);
	}
}