/*
 * Table:
 *
 * A simple out-of-the-box table style, including automatic horizontal scrolling
 * for narrow viewports.
 */

.table {
	width: 100%;
	table-layout: fixed;
	overflow: auto;
	background-color: color(white);

	tr {
		border-bottom: 1px solid color(shade);
	}

	th, td {
		padding: $rhythm-small;
	}

	th {
		background-color: color(dark);
	}
}

