/*
 * Icon:
 * Utility classes to make working with SVG icons a little easier
 */

@import "icon-config";

%icon,
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: map-get($icon-sizes, "default");
	fill: currentColor;
}

/* Colors */

@each $key, $color in $icon-colors {
	%icon--#{$key},
	.icon--#{$key} {
		fill: $color;
	}
}

/* Sizes */

@each $key, $size in $icon-sizes {
	%icon--#{$key},
	.icon--#{$key} {
		font-size: $size;
	}
}
