/*
 * Text Config
 *
 * 1. Borders
 * 2. Border Radius
 * 3. Padding
 * 4. Placeholder
 *
 */

$form-text-border: $form-generic-border !default;
$form-text-border-focus: $form-generic-border-focus !default;
$form-text-border-error: $form-generic-border-error !default;

$form-text-border-radius: $form-generic-border-radius !default;

$form-text-padding: $form-generic-padding !default;

$form-text-placeholder-color: $form-generic-placeholder-color !default;
