/*
 * Checkbox
 * Styles for checkbox and toggle switch styles.
 */

.checkbox {
	display: block;
	width: 100%;
	position: relative;
}

	.checkbox__input {
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		opacity: 0;

		&:checked ~ .checkbox_icon {
			fill: $color-info;
			
			.checkbox__icon--default { display: none }
			.checkbox__icon--checked { display: block }
		}
	}

	.checkbox__label {
		cursor: pointer;
	}

	.checkbox__icon {
		float: right;
		fill: $color-light;
		color: transparent;
		cursor: pointer;
	}

	.checkbox__icon--default { display: block }
	.checkbox__icon--checked { display: none }