/*
 * Icon:
 * Utility classes to make working with SVG icons a little easier
 */

.icon {
	width:1rem; height:1rem;
}

.icon--alpha {
	fill: $color-alpha;
}

.icon--beta {
	fill: $color-beta;
}

.icon--gamma {
	fill: $color-gamma;
}

.icon--error {
	fill: $color-error;
}

.icon--warning {
	fill: $color-warning;
}

.icon--success {
	fill: $color-success;
}

.icon--info {
	fill: $color-info;
}