/*
 * Overlay
 * Overlays are for focusing content over the top of the main flow of content, whilst also locking off
 * interactions with the main flow until the focused content is addressed.
 */

.overlay {
	display:flex;
	align-items:center;
	justify-content:center;
	position:fixed;
	top:0; left:0;
	z-index:map-get($layers,'overlay');
	width:100%; 
	height:100%;
	padding:rhythm() 0;
}

.overlay__backdrop {
	position:absolute;
	width:100%; height:100%;
	top:0; left:0;
	background-color: rgba(color(base),0.25);
}

.overlay__backdrop--transparent {
	background-color:none;
}

.overlay__backdrop--dark {
	background-color: rgba(color(dark),0.55);
}

.overlay__backdrop--white {
	background-color: rgba(color(white),0.75);
}

.overlay__backdrop--canvas {
	background-color: rgba(color(canvas),0.75);
}

