/*
 * Pinned Actions:
 * A Pinned Action is a common pattern used to pin key elements or actions to the viewport. This element may sometimes be ‘sticky' i.e. a buy now CTA may only appear within a Pinned Action once the user has already scrolled past that CTA in it’s normal position.
 * Examples of content usually contained within a Pinned Action;
 *  - Set of Tabs
 *  - Single Button
 *  - Progress Bar
 *
 */

 .pinned {
	position:fixed;
}

	.pinned__panel {
		background-color:rgba(color(white),0.9);
		border:1px solid color(light);
		padding:rhythm(0.5);
	}

/* Modifiers */

.pinned--sticky {
	@supports(position:sticky) {
		position:-webkit-sticky;
		position:sticky;
		top:0;
	}
}

.pinned--top {
	top:0;
	left:50%;
	transform:translateX(-50%);
}

.pinned--top-right {
	top:0;
	right:0;
}

.pinned--bottom-right {
	top:100%;
	right:0;
	transform:translateY(-100%);
}

.pinned--bottom {
	top:100%;
	left:0;
	transform:translateY(-100%);

	&.pinned--full-width {

		.pinned__panel {
			border-left:none;
			border-right:none;
			border-bottom:none;
		}
		
	}
}

.pinned--bottom-left {
	bottom:0;
	left:0;
}

.pinned--top-left {
	top:0;
	left:0;
}

.pinned--full-width {
	width:100%;
}
