/*
 * Radio
 * Styles for radio button inputs.
 */

.radio {
	display: block;
	width: 100%;
	position: relative;
}

	.radio__input {
		position: absolute;
		top: 0; 
		left: 0;
		pointer-events: none;
		opacity: 0;
	
		&:checked ~ .radio__icon {
				color: $color-info;
		}
	}

	.radio__label {
		cursor: pointer;
	}

	.radio__icon {
		position: absolute;
		top: 50%; right: 0;
		transform: translateY(-50%);
		fill: $color-white;
		color: transparent;
		cursor: pointer;
	
		svg { display: block }
	}

