/*
 * Tag:
 * 
 * A tag can be used to highlight metadata such as a category or status.
 *
 */

.tag {
	display: inline-block;
	padding: $padding-small;
	background-color: $color-base;
	color: $color-white;
}

.tag--alpha {
	background-color: $color-alpha;
}

.tag--beta {
	background-color: $color-beta;
}

.tag--gamma {
	background-color: $color-gamma;
}

.tag--error {
	background-color: $color-error;
}

.tag--warning {
	background-color: $color-warning;
}

.tag--success {
	background-color: $color-success;
}

.tag--info {
	background-color: $color-info;
}