/*
 * Tooltip:
 *
 * Tooltips are for displaying small pieces of contextual information, usually when hovering
 * the parent element.
 */

.tooltip {
	position:absolute;
	padding: $padding-half;
	background-color: $color-base;
	color: $color-white;
	pointer-events: none;

	&:before {
		position:absolute;
	}

	@extend %simple-transition;
}


/* Directions */

.tooltip--up {
	&:before {
		@include triangle('down',1rem,1rem,$color-base)
	}
}

.tooltip--right {
	&:before {
		@include triangle('left',1rem,1rem,$color-base)
	}
}

.tooltip--down {
	&:before {
		@include triangle('up',1rem,1rem,$color-base)
	}
}

.tooltip--left {
	&:before {
		@include triangle('right',1rem,1rem,$color-base)
	}
}

/* Parent Helper Class */

._has-tooltip {
	
	.tooltip {
		opacity:0;
	}

	&:hover {
		.tooltip {
			opacity:1;
		}
	}
}