/*
 * Dialog
 * 
 * A dialog is for displaying and prioritising contextual content or functionality, over the top of
 * the main flow of content
 */

@import '_dialog-config';

.dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: map-get($layers, 'dialogs');
  max-width: 95vw;
  max-height: 95vh;
  transform: translateX(-50%) translateY(-50%);
  background-color: color(white);
}

.dialog__close {
  position: absolute;
  top: rhythm(0.5);
  right: rhythm(0.5);
  cursor: pointer;
}

.dialog__header {
  padding: rhythm(0.5) rhythm(0.5) 0;
  justify-self: flex-start;
}

.dialog__body {
  padding: rhythm(0.5);
  justify-self: stretch;
  max-height: 70vh;
  overflow-y: auto;
}

.dialog__footer {
  padding: 0 rhythm(0.5) rhythm(0.5);
  justify-self: flex-end;
}

@if($dialog-default-transitions) {
	@import '_dialog-transitions';
}