/**
 * _theme.scss
 * Contains variables for cosmetic look-and-feel attributes such as colour and font declarations.
 * All variables are prefixed by type for organisation, and for easier identification when looking back through code later.
 *
 * Variables uncommented and used here will override defaults set in node_modules/element-foundry/_theme.scss.
 *
 */


/* Colours */

$colors: (
	// Base
	base: #4A4A4A,
	canvas: #FAFAFA,
	white: #FFFFFF,

	// Key
	alpha: #EA5757,
	beta: #70AAEC,
	gamma: #3E5168,

	// Shades
	dark: #777777,
	mid: #9B9B9B,
	light: #D8D8D8,
	shade: #DEDEDE,

	// Feedback
	success: #AAD091,
	warning: #EFBC68,
	error: #D17580,
	info: #9CC9DF,

	// Social
	facebook: #3b5998,
	twitter: #1da1f2,
	linkedin :#0077b5,
);

/*
 * Gradients
 */
 $gradient-alpha: linear-gradient(247deg, #f5b840, map-get($colors, 'alpha'));
 $gradient-beta: linear-gradient(247deg, #12b1c9, map-get($colors, 'beta'));


/* Font families */

$font-main: 'museo-sans',Helvetica,Arial,sans-serif;
$font-alt: 'adelle',Georgia,serif;


/* Font sizes */

$document-font-size: 13px;
$document-line-height: 1.6;

$font-sizes: (
    smallest: 0.6rem,
    small: 0.8rem,
    standard: 1rem,
    medium: 1.1rem,
    large: 1.5rem,
    largest: 3rem
);


/* Font weights */

$font-weights: (
	light: 100,
	normal: 400,
	semibold: 500,
	bold: 700
);


/* Borders */

$radius-corner: 0.2rem;
$radius-button: 0.4rem;
$radius-avatar: 0.4rem;
$radius-round: 50%;


/* Page & content widths */

$page-container-xlarge: 90rem;
$page-container-large: 84rem;
$page-container-medium: 72rem;
$page-container-small: 60rem;
$page-container-xsmall: 30rem;


/* Rhythm & Padding */

$rhythm: 3rem;
$rhythm-small: $rhythm/2;
$rhythm-large: $rhythm*2;

$padding: 1rem;
$padding-small: $padding/2;
$padding-large: $padding*2;


/* z-index */

$layers: (
	toast:1000,
	navigation:900,
	loading:800,
	modals:700,
	notifications:600,
	header:500,
);
