/*
 * Form
 * Small classes concerned with establishing rhythm and positioning contexts within a form.
 */

.form {
  //
}

/*
	* Form block
	* Form blocks are for visually grouping smaller form inputs such as sets of radio buttons.
	*/

.form__block {
  border-radius: $radius-corner;
  background-color: color('canvas');
}

.block__item {
  @extend %flex;
  @extend %flex--space-between;

  padding: $rhythm-small;

  & + & {
    border-top: 1px solid color('light');
  }
}

/*
	 * Form input
	 * The .form__input class wraps inputs in a postioning context, while the __addon child
	 * handles vertical spacing of input addons i.e. validation message wrappers, password strength
	 * meters.
	 */

.form__input {
	position: relative;
}

.form__input__addon {
  margin-top: $rhythm-small;
}
