/*
 * Switchbox
 * Styles for a checkbox that visually looks and acts like a faux switch.
 *
 * TOGGLE LEFT
 * <div class="form-toggle">
 *    <input id="abc" name="abc" type="checkbox" class="form-toggle__input _is-visually-hidden">
 *    <label for="abc" class="form-toggle__faux"></label>
 *    <label for="abc" class="form-toggle__label">Check this box for fun</label>
 * </div>
 *
 * TOGGLE RIGHT
 * <div class="form-toggle">
 *    <label for="abc" class="form-toggle__label">Check this box for fun</label>
 *    <input id="abc" name="abc" type="checkbox" class="form-toggle__input _is-visually-hidden">
 *    <label for="abc" class="form-toggle__faux"></label>
 * </div>
 */

.form-toggle {
    @extend %flex;
    @extend %flex--paced-right;

    font-size: 1em;
}

.form-toggle__label {
    @extend %flex;
    @extend %flex--align-center;

    line-height: 1;
}

.form-toggle__faux {
    cursor: pointer;
    display: block;
    width: 3em;
    height: 1.5em;
    border-radius: 0.75em;
    border: solid 1px color(light);
    background-color: color(light);
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        width: calc(1.5em - 2px);
        height: calc(1.5em - 2px);
        border-radius: calc(0.75em - 1px);
        box-shadow: 0 0 6px 0 rgba(00, 00, 00, 0.2);
        background-color: color(white);
    }
}

.form-toggle__input:checked + .form-toggle__faux {
    background-color: color(alpha);
    border-color: color(alpha);

    &:after {
        left: calc(100% - (1.5em - 2px));
    }
}

.form-toggle__input:disabled + .form-toggle__check {
    cursor: not-allowed;
}
