/*
 * Icon:
 * Utility classes to make working with SVG icons a little easier
 */

@import 'icon-config';

.icon {
    width: 1em;
    height: 1em;
    font-size: map-get($icon-sizes, 'default');
    display: inline-block;
    vertical-align: middle;
}

/* Colors */

@each $key, $color in $icon-colors {
    .icon--#{$key} {
        fill: $color;
    }
}

/* Colors */

@each $key, $size in $icon-sizes {
    .icon--#{$key} {
        font-size: $size;
    }
}
