/*
 * Radio
 * Styles for Radio Buttons.
 *
 * RADIO LEFT
 * <div class="form-radio">
 *    <input id="abc" name="abc" type="radio" class="form-radio__input _is-visually-hidden">
 *    <label for="abc" class="form-radio__faux"></label>
 *    <label for="abc" class="form-radio__label">Check this box for fun</label>
 * </div>
 *
 * RADIO RIGHT
 * <div class="form-radio">
 *    <label for="abc" class="form-radio__label">Check this box for fun</label>
 *    <input id="abc" name="abc" type="radio" class="form-radio__input _is-visually-hidden">
 *    <label for="abc" class="form-radio__faux"></label>
 * </div>
 */

.form-radio {
    display: flex;
}

.form-radio__input {
}

.form-radio__faux {
    @extend ._a_simple-transition;

    border: 1px solid color(base);
    border-radius: 100%;
    display: block;
    height: rhythm(0.5);
    position: relative;
    width: rhythm(0.5);

    &:before {
        background: transparent;
        border-radius: 100%;
        content: '';
        left: 50%;
        height: rhythm(0.25);
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: rhythm(0.25);
    }
}

.form-radio__input:focus + .form-radio__faux {
    box-shadow: 0 0 12px 0 rgba(color(gamma), 0.9);
}

.form-radio__input:checked + .form-radio__faux {
    border-color: color(alpha);

    &:before {
        background: color(alpha);
    }
}

.form-radio__input:disabled + .form-radio__faux {
    cursor: not-allowed;
}

.form-radio__label {
    margin-left: 0;
    margin-right: rhythm(0.25);
}

.form-radio__faux + .form-radio__label {
    margin-left: rhythm(0.25);
}
