/*
 * Dialog
 *
 * A dialog is for displaying and prioritising contextual content or functionality, over the top of
 * the main flow of content.
 *
 * !! This module @extends %flex from FoundryCSS/ui/utilities/flex.scss !!
 * !! This module @extends %flex--column from FoundryCSS/ui/utilities/flex.scss !!
 *
 */

@import "_dialog-config";

%dialog,
.dialog {
    @extend %flex !optional;
    @extend %flex--column !optional;
    background-color: $dialog-background-color;
    border-radius: $dialog-border-radius;
    max-width: map-get($dialog-sizes, "default");
    max-height: 95vh;
}

%dialog__header,
.dialog__header {
    padding: $dialog-spacing $dialog-spacing 0;
    justify-self: flex-start;
}

%dialog__body,
.dialog__body {
    padding: $dialog-spacing;
    justify-self: stretch;
    max-height: 70vh;
    overflow-y: auto;
}

%dialog__footer,
.dialog__footer {
    padding: 0 $dialog-spacing $dialog-spacing;
    justify-self: flex-end;
}

/* Sizes */

@each $key, $size in $dialog-sizes {
    %dialog--#{$key},
    .dialog--#{$key} {
        max-width: $size;
    }
}

@import "_dialog-transitions";
