/*
 * Dialog Config
 *
 * 1. Sizes
 * 2. Spacing
 * 3. Background Color
 * 4. Border Radii
 * 5. Enable Default Transitions
 *
 */

$dialog-sizes: (
    "small": 30rem,
    "default": 60rem,
    "large": 90rem
) !default;

$dialog-spacing: rhythm(2);

$dialog-background-color: color("white") !default;

$dialog-border-radius: $corner-radius !default;

// $dialog-default-transitions:true !default;
