/*
 * Checkboxes
 * Styles for Checkboxes.
 *
 * !! This module @extends %hidden from FoundryCSS/ui/utilities/visibility.scss !!
 *
 */

@import "./checkbox-config";

.form-checkbox {
    //
}

.form-checkbox__input {
    @extend %hidden !optional;

    &:focus + .form-checkbox__pseudo {
        box-shadow: 0 0 15px 0 rgba($form-checkbox-checked-color, 0.25);
    }

    &:checked + .form-checkbox__pseudo {
        border-color: $form-checkbox-checked-color;

        &:before {
            background: $form-checkbox-checked-color;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    &:disabled + .form-checkbox__pseudo {
        cursor: not-allowed;
    }
}

.form-checkbox__pseudo {
    display: block;
    height: $form-checkbox-size;
    width: $form-checkbox-size;
    border: 1px solid color("mid");
    position: relative;
    cursor: pointer;

    &:before {
        background: transparent;
        content: "";
        left: 50%;
        height: rhythm(0.5);
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) scale(3);
        width: rhythm(0.5);
    }
}
