/*
 * Horizontal Rule Config
 *
 * 1. Weights (Thickness)
 * 2. Widths
 * 3. Colours
 *
 */

$horizontal-rule-weights: (
	'thin':1px,
	'normal':0.25rem,
	'thick':0.66rem,
);

$horizontal-rule-widths: (
	'short':7.5rem,
	'normal':12.5rem,
	'fullwidth':100%
);

$horizontal-rule-colors: $colors;