.pagination {
    @extend %flex;
    @extend %flex--justify-center;
}

.pagination__item {
    appearance: none;
    -webkit-appearance: none; // In case we are using buttons

    background: none;
    border: 0;
}
