/**
 * _config.scss
 * Foundry's high level configuration file
 * The values contained in this file are all defaults, and can/should be overridden in you app theme. These simply allow foundary to work out of the box
 */

/**
 * Breakpoints
 *
 * Foundry works mobile-first, so the majority of our media queries are based on min-width;
 * These breakpoints represent the lower bound of a media query or grid layout
 * Accessed via eg. `map-get($breakpoints, 'large')`
 */

$breakpoints: (
  'small': 320px,
  'medium': 480px,
  'large': 768px,
  'x-large': 1140px,
  'xx-large': 1440px
);

// Media Query, Lower Break Point
$mq-map-to-breakpoints: (
  small: small,
  medium: medium,
  large: large,
  extra-large: xlarge,
  extra-extra-large: xxlarge
);

/*
 * Grid Configuration
 * Configure number of required columns and gutter size here. If your grid requires breakpoints
 * which differ from the site-wide breakpoints above, uncomment and update the values in the
 * array below.
 */
$use-foundation-xy-grid: true;

$grid-columns:12;
$grid-gap:1.5rem;
$grid-breakpoints: $breakpoints;

// $grid-breakpoints: (
// 	'small': 320px,
//  'medium': 480px,
//  'large': 768px,
//  'x-large': 1140px,
//  'xx-large': 1440px
// );


/*
 * Paths
 * Commonly used paths for locating image assets, font files, etc.
 */

$path-assets:'./public/assets';
$path-fonts:'./fonts';