/**
 * _theme.scss
 * Contains variables for cosmetic look-and-feel attributes such as colour and font declarations.
 * All variables are prefixed by type for organisation, and for easier identification when looking back through code later.
 *
 * 1. Document Setup
 * 2. Typography
 * 3. Colours
 * 4. Common Border Radii
 * 5. Layers
 * 6. Responsive breakpoints
 *
 */


/*
 * 1. Document Setup
 * 
 * Set the base font-size and line-height for the project, as well as establish a value for 
 * rhythm and spacing.
 */

$document-font-size: 14px;
$document-line-height: 1.6;
$document-rhythm: 2rem;

 
/*
 * 2. Typography
 * 
 * Set font declarations, font-sizes and font-weights. 
 *
 */
 
$font-main: 'museo-sans',Helvetica,Arial,sans-serif;
$font-alt: 'adelle',Georgia,serif;
 
$font-sizes: (
	smallest: 0.6rem,
	small: 0.8rem,
	standard: 1rem,
	medium: 1.1rem,
	large: 1.5rem,
	largest: 3rem
);
 
$font-weights: (
	light: 100,
	normal: 400,
	semibold: 500,
	bold: 700
);
 
 
/*
 * 3. Colours
 * 
 * Colours are stored in pairs in a SASS map - each pair contains a theme colour, as well
 * as a corresponding colour for use in text to ensure proper contrast.
 * 
 * Gradients are stored in a seperate SASS map as they need to be accessed differently. 
 *
 */ 
 
$colors: (
	// Base
	base: #4A4A4A,
	canvas: #FAFAFA,
	white: #FFFFFF,

	// Key
	alpha: #F55236,
	beta: #638DB4,
	gamma: #3E5168,

	// Shades
	dark: #777777,
	mid: #9B9B9B,
	light: #D8D8D8,
	shade: #DEDEDE,

	// Feedback
	success: #AAD091,
	warning: #EFBC68,
	error: #D17580,
	info: #9CC9DF,

	// Social
	facebook: #3b5998,
	twitter: #1da1f2,
	linkedin :#0077b5,
);
 
$gradients: (
	alpha: linear-gradient(247deg, #f5b840, map-get($colors, 'alpha')),
	beta: linear-gradient(247deg, #12b1c9, map-get($colors, 'beta'))
);
 
 
/*
 * 4. Common Border Radii
 * 
 * Set any commonly used border-radius declarations. 
 *
 */
 
$corner-radius: 0.25rem;
 

/*
 * 5. Layers
 * 
 * We store all z-index values in a SASS map under human-readable keys to avoid the usual 
 * trial and error or 'z-index:9999' nonsense.
 *
 */
 
$layers: (
	'toast':1000,
	'navigation':900,
	'loading':800,
	'modals':700,
	'notifications':600,
	'header':500,
);


/**
 * 6. Breakpoints
 *
 * Foundry works mobile-first, so the majority of our media queries are based on min-width;
 * These breakpoints represent the lower bound of a media query or grid layout
 * Accessed via eg. `map-get($breakpoints, 'large')`
 */

$breakpoints: (
	'zero': 0,
	'small': 320px,
	'medium': 480px,
	'large': 768px,
	'xlarge': 1140px,
	'xxlarge': 1440px
);
 
 
/*
 * 7. Paths
 *
 * Commonly used paths for locating image assets, font files, etc.
 * 
 */
 
$path-assets:'./public/assets';
$path-fonts:'./fonts';