/*
 * Image:
 * Common styles and use styles for working with image assets
 */

.image {
	display:block;
	height:auto;
}

.image--fullwidth {
	width: 100%;
}

/* Backgrounds */

.background--cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Avatars */

.image--avatar {
	border-radius: $radius-round;
}