/*
 * Breathe
 * A class to manage horizontal rhythm.
 */

.breathe,
%breathe {
  > * + * {
    margin-left: $rhythm;
  }
}

.breathe--small,
%breathe--small {
  > * + * {
    margin-left: $rhythm-small/2;
  }
}

.breathe--large,
%breathe--large {
  > * + * {
    margin-left: $rhythm-large;
  }
}
