/*
 * Container:
 * Horizontally centers an element and constrains it to one of our $page-container widths 
 * from _theme.scss.
 */

 .container,
 %container {
   position: relative;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-left: $rhythm;
   padding-right: $rhythm;
 }
 
 .container--flush,
 %container--flush {
   padding-left: 0;
   padding-right: 0;
 }
 
 .container--xsmall,
 %container--xsmall {
   max-width: $page-container-xsmall;
 }
 
 .container--small,
 %container--small {
   max-width: $page-container-small;
 }
 
 .container--medium,
 %container--medium {
   max-width: $page-container-medium;
 }
 
 .container--large,
 %container--large {
   max-width: $page-container-large;
 }
 
 .container--xlarge,
 %container--xlarge {
   max-width: $page-container-xlarge;
 }
 