/*
 * Container:
 * Horizontally centers an element and constrains it to one of our $page-container widths 
 * from _theme.scss.
 */

.container {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: $rhythm;
	padding-right: $rhythm;
}

.container--flush {
	padding-left: 0;
	padding-right: 0;
}

.container--mini {
	max-width: $page-container-mini;
}

.container--narrow {
	max-width: $page-container-narrow;
}

.container--medium {
	max-width: $page-container-medium;
}

.container--wide {
	max-width: $page-container-wide;
}




