/*
 * Flow
 * A class to manage vertical rhythm.
 */

.flow,
%flow {
  > * + * {
    margin-top: $rhythm;
  }
}

.flow--tiny,
%flow--tiny {
  > * + * {
    margin-top: $rhythm-tiny;
  }
}

.flow--small,
%flow--small {
  > * + * {
    margin-top: $rhythm-small;
  }
}

.flow--medium,
%flow--medium {
  > * + * {
    margin-top: $rhythm-medium;
  }
}

.flow--large,
%flow--large {
  > * + * {
    margin-top: $rhythm-large;
  }
}
