/*
 * Flow
 * A class to manage vertical rhythm.
 */

.flow,
%flow {
  > * + * {
    margin-top: rhythm();
  }
}

.flow--small,
%flow--small {
  > * + * {
    margin-top: rhythm(0.5);
  }
}

.flow--large,
%flow--large {
  > * + * {
    margin-top: rhythm(2);
  }
}
