/*
 * Wrappers:
 * Wrap an element in top and bottom padding.
 */

 .wrapper,
 %wrapper {
   padding-top: $rhythm;
   padding-bottom: $rhythm;
 }
 
 .wrapper--small,
 %wrapper--small {
   padding-top: $rhythm-small;
   padding-bottom: $rhythm-small;
 }
 
 .wrapper--large,
 %wrapper--large {
   padding-top: $rhythm-large;
   padding-bottom: $rhythm-large;
 }
 
 .wrapper--top-only {
   padding-bottom: 0;
 }
 
 .wrapper--bottom-only {
   padding-top: 0;
 }
 