/*
 * Generic:
 * Element selectors that form our little reset sheet.
 *
 */

* {
    box-sizing: border-box;
}

:root {
    font-size: $document-font-size;
    line-height: $document-line-height;
}

html,
body {
    width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body,
p,
fieldset,
dialog {
    margin: 0;
}

body {
    font-family: font-family('default');
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: color('default');
    background-color: color('canvas');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.625em;
}

h1 {
    font-size: font-size('900');
}
h2 {
    font-size: font-size('800');
}
h3 {
    font-size: font-size('700');
}
h4 {
    font-size: font-size('600');
}
h5 {
    font-size: font-size('500');
}
h6 {
    font-size: font-size('400');
}

p + p {
    margin-top: rhythm(0.5);
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto;

    &:active,
    &:hover {
        outline: 0;
        text-decoration: underline;
    }
}

strong {
    font-weight: font-weight(bold);
}

input,
button,
select,
option,
textarea {
    font-size: 100%;
    font-family: inherit;
}

fieldset,
dialog {
    padding: 0;
    border: none;
}

input[type='search'] {
    &::-ms-clear,
    &::-ms-reveal,
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
        width: 0;
        height: 0;
    }
}
