@import './textarea-config';

.form-textarea {
    &._has-error {
        .form-textarea__input {
            border: $form-textarea-border-error;
        }

        .form-error {
            display: block;
        }
    }
}

.form-textarea__input {
    @extend %form-generic;

    height: $form-textarea-height;
    border: $form-textarea-border;
    border-radius: $form-textarea-border-radius;
    padding: $form-textarea-padding;

    @if ($form-textarea-resize == false) {
        resize: none;
    }

    &:focus {
        border: $form-textarea-border-focus;
    }

    &::placeholder {
        color: $form-textarea-placeholder-color;
    }
}
