/*
 * Text Config
 *

 * 1. Borders
 * 2. Border Radius
 * 3. Padding
 * 4. Placeholder
 * 5. Height
 * 6. Resize
 *
 */

$form-textarea-border: $form-generic-border !default;
$form-textarea-border-focus: $form-generic-border-focus !default;
$form-textarea-border-error: $form-generic-border-error !default;

$form-textarea-border-radius: $form-generic-border-radius !default;

$form-textarea-padding: $form-generic-padding !default;

$form-textarea-placeholder-color: $form-generic-placeholder-color !default;

$form-textarea-height: 10rem !default;

$form-textarea-resize: true !default;
